# Unused directories
test
data

# Python gitignores
__pycache__
*.egg-info

# SWI-Prolog gitignores

# Execution logs
nohup.out
logs/*.log

# Config files with credential informations
nl2logic_config.yaml

# Compiled executables
src/scasp/scasp